.block-title {
  font: 600 150px $font-montserrat;
  text-transform: uppercase;
}
.block-title.mod-coursive {
  font: 400 52px $font-kaushanscript;
}
.block-dscr {
  font: 400 15px $font-roboto;
  color: color-gray-text;
}
