.clients {
  padding-bottom: 130px;
  background: linear-gradient(to right, $color-design-bg, $color-design-bg), url("../i/clients-bg.jpg");
  background-size: cover;
}
@media $tablet {
  .clients {
    padding-bottom: 80px;
  }
}
@media $phone {
  .clients {
    padding-bottom: 30px;
  }
}
@media $tablet {
  .clients-item {
    margin-top: 20px;
  }
}
.clients-img {
  width: 110px;
  height: auto;
  border-radius: 55px;
}
@media $tablet {
  .clients-img {
    width: auto;
  }
}
.clients-name {
  margin: 0;
  font: 400 14px $font-montserrat;
  color: $color-black-text;
}
.clients-profession {
  margin: 10px 0 20px 0;
  font: 300 15px $font-roboto;
  font-style: italic;
  color: $color-gray-text;
}
.clients .hr.mod-testimonial {
  width: 60px;
  height: 3px;
  margin: 0;
  border: 0;
  background-color: #f38181;
}
.clients-comment {
  max-width: 370px;
  margin-top: 20px;
  font: 400 15px $font-roboto;
  line-height: 1.5;
  color: $color-light-gray-text;
}
