.design {
  position: relative;
  background: linear-gradient(to right, $color-design-bg, $color-design-bg), url("../i/design-bg.jpg");
  background-size: cover;
}
.design-img {
  position: relative;
}
.design-img-phone {
  position: absolute;
  right: -80px;
  bottom: -60px;
  width: 44%;
}
@media $tablet {
  .design-img-phone {
    right: -50px;
    bottom: -40px;
  }
}
@media $phone {
  .design-img-phone {
    right: 0;
    bottom: -20px;
  }
}
.accordion-content {
  max-height: 220px;
  overflow: overlay;
}
.accordion-title:before {
  font-family: "fontello";
  content: '\e80b';
}
.is-active .accordion-title:before {
  content: '\e80c';
}
