.main {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
@media $tablet {
  .main {
    background: url("../i/video-bg.jpg");
    background-size: cover;
  }
}
.main::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to bottom, rgba(252,227,138,0.7), rgba(243,129,129,0.7));
}
.main-content {
  position: relative;
  z-index: 3;
  font-size: 30px;
  color: #fff;
}
.main-hr {
  width: 60px;
  height: 3px;
  margin: 0 auto;
  border: 0;
  background-color: $color-white;
}
