.services-line {
  border-top: 1px;
}
.services .icon {
  color: $color-turquoise;
  font-size: 35px;
}
@media $phone {
  .services .icon {
    font-size: 30px;
  }
}
.services-title {
  font: 400 14px $font-montserrat;
  color: $color-black-text;
  text-transform: uppercase;
}
.services-dscr {
  font: 400 15px $font-roboto;
  color: $color-gray-text;
  line-height: 1.5;
}
