.story {
  padding: 90px 0 110px;
}
.story-item {
  position: relative;
}
@media $phone {
  .story-item {
    margin-top: 30px;
  }
}
.story-item_img {
  margin: auto;
  width: 380px;
  height: 259px;
  overflow: wrap;
}
@media $tablet {
  .story-item_img {
    width: 100%;
    height: auto;
  }
}
@media $phone {
  .story-item_img {
    width: 100%;
    height: auto;
  }
}
.story-item_hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, $color-gradient-red, $color-gradient-yellow);
  position: absolute;
  left: -10px;
  top: -10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  color: $color-white;
}
.story-item_hover .icon {
  font-size: 20px;
}
.story-item_hover p {
  font: 600 18px $font-montserrat;
  text-transform: uppercase;
  margin-top: 10px;
}
.story-item:hover {
  background-color: $color-turquoise;
}
.story-item:hover .story-item_hover {
  opacity: 1;
}
.story-item:hover img {
  position: relative;
  top: -10px;
  left: -10px;
}
