.button.hollow {
  width: 160px;
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font: 600 12px montserrat, arial, sans-serif;
}
.block-title {
  font: 600 30px montserrat, arial, sans-serif;
  text-transform: uppercase;
}
.block-title.mod-coursive {
  font: 400 24px "kaushan script", arial, sans-serif;
}
.block-dscr {
  font: 400 15px roboto, arial, sans-serif;
  color: color-gray-text;
}
.story {
  padding: 90px 0 110px;
}
.story-img {
  margin: auto;
  width: 380px;
  height: 259px;
  position: relative;
  transition: ease 0.5s all;
}
.story-img_hover {
  opacity: 0;
  width: 380px;
  height: 259px;
  background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9));
  position: absolute;
  left: -10px;
  top: -10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  color: #fff;
  transition: ease 0.5s all;
}
.story-img_hover p {
  font: 600 18px montserrat, arial, sans-serif;
  text-transform: uppercase;
}
.story-img img {
  transition: ease 0.5s all;
}
.story-img:hover {
  background-color: #95e1d3;
}
.story-img:hover .story-img_hover {
  opacity: 1;
}
.story-img:hover img {
  position: relative;
  top: -10px;
  left: -10px;
}
.main {
  background: url("../i/main.jpg") 50%;
  min-height: 1000px;
  position: relative;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(252,227,138,0.9), rgba(243,129,129,0.9));
}
.main-content {
  position: relative;
  color: #fff;
  font-size: 30px;
}
