.team-img {
  position: relative;
}
@media $tablet {
  .team-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
.team-img_hover {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  color: $color-white;
  background: linear-gradient(to bottom, $color-gradient-red, $color-gradient-yellow);
}
@media $tablet {
  .team-img_hover {
    width: 100%;
    height: 100%;
  }
}
.team-img_hover p {
  font: 600 18px $font-montserrat;
  text-transform: uppercase;
}
.team-img:hover {
  background-color: $color-turquoise;
}
.team-img:hover .team-img_hover {
  opacity: 1;
}
.team-img:hover img {
  position: relative;
  top: -10px;
  left: -10px;
}
.team-social {
  width: 225px;
  margin: auto;
}
@media $tablet {
  .team-social {
    width: auto;
  }
}
.team-social_item {
  padding: 10px 0;
  border-left: 1px solid $color-corall;
  background: $color-yellow;
}
.team-social_item .icon {
  font-size: 27px;
  color: $color-corall;
}
.team-social_item:hover {
  border-left: 1px solid $color-yellow;
  background: $color-corall;
}
.team-social_item:hover .icon {
  color: $color-yellow;
}
.team-social_item.mod-first {
  border-left: 0;
}
.team-dscr {
  margin-top: 30px;
}
@media $phone {
  .team-dscr {
    margin-top: 10px;
  }
}
.team-name {
  margin: 0;
  font: 400 14px $font-montserrat;
  color: $color-black-text;
}
.team-profession {
  margin: 15px 0 0;
  font: 400 14px $font-roboto;
  font-style: italic;
  color: $color-gray-text;
}
@media $phone {
  .team-profession {
    margin-top: 10px;
  }
}
