.testimonial {
  margin: 100px 0 130px;
}
.testimonial-img {
  overflow: hidden;
  width: 205px;
  height: 205px;
  margin: auto;
  border-radius: 106px;
}
@media $tablet {
  .testimonial-img {
    width: 150px;
    height: 150px;
  }
}
.testimonial-item_text {
  margin-bottom: 10px;
  font: 300 24px $font-roboto;
  font-style: italic;
  line-height: 1.5;
  color: $color-gray-text;
}
@media $tablet {
  .testimonial-item_text {
    font-size: 19px;
  }
}
@media $phone {
  .testimonial-item_text {
    font-size: 15px;
  }
}
.testimonial-item_author {
  margin-bottom: 0;
  font: 400 24px $font-kaushanscript;
  vertical-align: middle;
  color: $color-black-text;
}
@media $tablet {
  .testimonial-item_author {
    font-size: 20px;
  }
}
@media $phone {
  .testimonial-item_author {
    font-size: 16px;
  }
}
.testimonial-item_author:before {
  display: inline-block;
  width: 60px;
  height: 3px;
  margin-right: 5px;
  content: '';
  vertical-align: middle;
  color: $color-red;
  background-color: $color-red;
}
