.wedo .accordion-title {
  font: 700 14px $font-montserrat;
  color: $color-black-text;
  text-transform: uppercase;
}
.wedo .accordion-title:before {
  font-size: 18px;
  color: $color-arrows;
}
.wedo .accordion-content {
  font: 300 15px $font-roboto;
  font-style: italic;
  color: $color-gray-text;
  line-height: 1.5;
}
.wedo .accordion .icon {
  font-size: 23px;
  color: $color-turquoise;
  margin-right: 20px;
  vertical-align: middle;
}
