.work-img {
  display: block;
  position: relative;
}
.work-img img {
  width: 100%;
}
.work-img_hover {
  opacity: 0;
  background: linear-gradient(to bottom, $color-gradient-red, $color-gradient-yellow);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  color: $color-white;
}
.work-img_hover .icon {
  font-size: 28px;
}
.work-img:hover .work-img_hover {
  opacity: 1;
}
.work-title {
  font: 400 14px $font-montserrat;
  margin: 15px 0 0 0;
  text-transform: uppercase;
}
.work-dscr {
  font: 300 15px $font-roboto;
  font-style: italic;
  margin: 10px 0 0 0;
}
