.block-header
    margin-top 110px
    margin-bottom 80px

    @media $tablet
          margin-top 80px

    @media $phone
        margin-top 50px
        margin-bottom 40px

    .title
        font 600 34px $font-montserrat
        text-transform uppercase

        @media $tablet
            font-size 30px

        @media $phone
            font-size 25px

        &.mod-coursive
            font 400 24px $font-kaushanscript
            text-transform initial

            @media $phone
                font-size 22px

    .hr
        width 60px
        height 3px
        margin 45px auto
        border 0
        background-color $color-red

        @media $tablet
              margin 35px auto

        @media $phone
            margin 25px auto

    .dscr
        font 400 15px $font-roboto
        color $color-gray-text
