.block

    &-title
        font 600 30px $font-montserrat
        text-transform uppercase

        &.mod-coursive
            font 400 24px $font-kaushanscript

    &-dscr
        font 400 15px $font-roboto
        color color-gray-text
