.blog

    &-img
        position relative
        cursor pointer

        img
            width 100%

    &-date
        position absolute
        bottom 10px
        left -10px
        width 62px
        height 72px
        text-align center
        color $color-white
        background $color-turquoise

        &_day
            margin 7px 0 0
            font 700 30px $font-montserrat

        &_month
            margin 0
            font 300 15px $font-roboto
            font-style italic

    &-title
        margin 20px 0 0
        font 400 14px $font-montserrat
        color $color-black-text

    &-dscr
        margin 20px 0 0
        font 400 15px $font-roboto
        color $color-gray-text

    &-info
        margin-top 10px
        padding 5px 0 30px
        border-top 1px solid $color-blog-info

        &_item
            mix-inline-block()
            margin-left 5px

            &:first-child
                margin 0

        .icon
            font-size 15px
            color $color-turquoise

        span
            font 300 15px $font-roboto
            font-style italic
            color $color-gray-text
