.blog

    &-img
        position relative
        cursor pointer

        img
            width 100%

    &-date
        position absolute
        bottom 10px
        left -10px
        width 62px
        height 72px
        background $color-turquoise
        color $color-white
        text-align center

        &_day
            font 700 30px $font-montserrat
            margin 7px 0 0

        &_month
            font 300 15px $font-roboto
            font-style italic
            margin 0

    &-title
        font 400 14px $font-montserrat
        color $color-black-text
        margin 20px 0 0

    &-dscr
        font 400 15px $font-roboto
        color $color-gray-text
        margin 20px 0 0

    &-info
        margin-top 10px
        padding 5px 0 30px
        border-top 1px solid $color-blog-info

        &_item
            mix-inline-block()
            margin-left 5px

            &:first-child
                margin 0

        .icon
            font 15px
            color $color-turquoise

        span
            font 300 15px $font-roboto
            font-style italic
            color $color-gray-text
