.button

    &.hollow
        width 160px
        margin-top 50px
        font 600 12px $font-montserrat
        text-transform uppercase
        color #fff
        border 3px solid #fff

        &:hover
            color $color-yellow
            border-color $color-yellow

.orbit-button

    @media $tablet
        padding 10px
