.clients
    padding-bottom 130px
    background linear-gradient(to right, $color-design-bg, $color-design-bg), url(../i/clients-bg.jpg)
    background-size cover

    @media $tablet
        padding-bottom 80px

    @media $phone
        padding-bottom 30px

    &-item

        @media $tablet
            margin-top 20px

    &-img
        width 110px
        height auto
        border-radius 55px

        @media $tablet
            width auto

    &-name
        margin 0
        font 400 14px $font-montserrat
        color $color-black-text

    &-profession
        margin 10px 0 20px 0
        font 300 15px $font-roboto
        font-style italic
        color $color-gray-text

    .hr

        &.mod-testimonial
            width 60px
            height 3px
            margin 0
            border 0
            background-color #f38181

    &-comment
        max-width 370px
        margin-top 20px
        font 400 15px $font-roboto
        line-height 1.5
        color $color-light-gray-text
