.design
    background linear-gradient(to right, $color-design-bg, $color-design-bg), url(../i/design-bg.jpg)
    background-size cover
    position relative

    &-img
        position relative

        &-phone
            position absolute
            right -30px
            bottom 0

.accordion

    &-content
        max-height 220px
        overflow overlay

    &-title

        &:before
            content '\e80b'
            font-family "fontello"

            .is-active &
                content '\e80c'
