.facts
    background-color $color-facts
    color $color-white

    &-wr
        padding 75px 0

    .column
        border-right 1px solid $color-facts-border

        &:first-child
            border-left 1px solid $color-facts-border

    &-num
        font 700 72px $font-montserrat

    &-dscr
        font 400 14px $font-montserrat
        margin 0
