.facts
    color $color-white
    background-color $color-turquoise

    &-wr
        padding 75px 0

        @media $tablet
            padding 35px 0

        @media $phone
            padding 25px 0

    .column
        border-right 1px solid $color-turquoise-border

        &:first-child
            border-left 1px solid $color-turquoise-border

    &-num
        font 700 72px $font-montserrat

        @media $tablet
            font-size 48px

        @media $phone
            font-size 32px

    &-dscr
        margin 0
        font 400 14px $font-montserrat
