// .footer
//
//     &-logo
//         font 700 46px $font-montserrat
//         color $color-arrows
//
//     &-dscr
//         font 400 15px $font-roboto
//         color $color-gray-text
//         margin-top 45px
//         line-height 1.5
//
//     &-followers
//         font 400 14px $font-roboto
//         color $color-black-text
//         margin-top 45px
//
//         &_value
//             font 700 18px $font-montserrat
//
//     &-social
//         margin-top 20px
//         padding-top 15px
//         border-top 1px solid $color-blog-info
//         font 400 15px $font-roboto
//         font-style italic
//         color $color-gray-text
//
//         .icon
//             color $color-turquoise
//             font-size 15px
//             margin-left 8px
//
//     &-subscribe
//         margin-top 50px
//
//         ::-webkit-input-placeholder {
//             font 400 14px $font-roboto
//             font-style italic
//         }
//
//         ::-moz-placeholder {
//             font 400 14px $font-roboto
//             font-style italic
//         }
//
//         :-moz-placeholder {
//             font 400 14px $font-roboto
//             font-style italic
//         }
//
//         :-ms-input-placeholder {
//             font 400 14px $font-roboto
//             font-style italic
//         }
//
//         .button
//             width 150px
//             background-color $color-turquoise
//             color $color-white
//
//     &-title
//         font 400 14px $font-montserrat
//         color $color-black-text
//         text-transform uppercase
//
//     &-blog
//         font 400 14px $font-montserrat
//         color $color-black-text
//
//         &_item
//             margin-top 30px
//
//         &_name
//             font 400 12px $font-montserrat
//             color $color-black-text
//             margin 0
//             text-transform uppercase
//
//         &_date
//             font 400 13px $font-roboto
//             font-style italic
//             color $color-gray-text
//             margin 10px 0 0
//
//       &-instagram
//             margin-top 30px
//
//             img
//                 display inline-block
//                 margin 0 2px 2px 0
.footer
    margin-top 70px
    padding 20px
    font 400 12px $font-montserrat
    color $color-black-text
    border-top 1px solid $color-blog-info

    &-highlighted
        color $color-red
