.logos
    margin-top 120px
    padding 60px 0
    background-color $color-quotes-bg

    @media $tablet
        padding 0

    img
        cursor pointer

        &:hover
            position relative
            top -10px
            left -10px

        @media $tablet
            margin 15px 0
