.services

    &-line
        border-top 1px

    .icon
        color $color-turquoise
        font-size 35px

        @media $phone
            font-size 30px

      &-title
          font 400 14px $font-montserrat
          color $color-black-text
          text-transform uppercase

      &-dscr
          font 400 15px $font-roboto
          color $color-gray-text
          line-height 1.5
