.services

    &-line
        border-top 1px

    .icon
        color $color-facts
        font-size 35px

      &-title
          font 400 14px $font-montserrat
          color $color-black-text
          text-transform uppercase

      &-dscr
          font 400 15px $font-roboto
          color $color-gray-text
          line-height 1.5
