.story
    padding-bottom 110px

    &-item
        position relative

        @media $phone
            margin-top 30px

        &_img
          overflow wrap
          width 380px
          height 259px
          margin auto
          mix-transition()

          @media $tablet
              width 100%
              height auto

        &_hover
            position absolute
            top -10px
            left -10px
            display flex
            justify-content center
            flex-direction column
            width 100%
            height 100%
            cursor pointer
            text-align center
            opacity 0
            color $color-white
            background linear-gradient(to bottom, $color-gradient-red, $color-gradient-yellow)
            mix-transition()

            .icon
                font-size 20px

            p
                margin-top 10px
                font 600 18px $font-montserrat
                text-transform uppercase

        &:hover
            background-color $color-turquoise

            .story-item_hover
                opacity 1

            img
                position relative
                top -10px
                left -10px
