@require "variables.styl"
@require "button.styl"
@require "block.styl"
@require "story.styl"
@require "main.styl";
@require "block-header.styl"
@require "facts.styl"
@require "services.styl"
@require "design.styl"
@require "wedo.styl"
@require "quotes.styl"
@require "team.styl"
@require "logos.styl"
@require "work.styl"
@require "testimonial.styl"
@require "clients.styl"
@require "blog.styl"
@require "map.styl"
@require "footer.styl"

.video
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    @media $phone
        display none
