.testimonial
    margin 100px 0 130px

    &-img
        overflow hidden
        width 205px
        height 205px
        margin auto
        border-radius 106px

        @media $tablet
            width 150px
            height 150px

    &-item

        &_text
            margin-bottom 10px
            font 300 24px $font-roboto
            font-style italic
            line-height 1.5
            color $color-gray-text

            @media $tablet
                font-size 19px

            @media $phone
                font-size 15px

        &_author
            margin-bottom 0
            font 400 24px $font-kaushanscript
            vertical-align middle
            color $color-black-text

            @media $tablet
                font-size 20px

            @media $phone
                font-size 16px

            &:before
                display inline-block
                width 60px
                height 3px
                margin-right 5px
                content ''
                vertical-align middle
                color $color-red
                background-color $color-red
