.top-bar
  background $color-corall
  padding 0

  &-title
      margin 0

  .menu
      background none

      a
        font 700 14px $font-montserrat
        color $color-white
        transition 0.3s
        text-transform uppercase

        @media $phone
            padding 8px

        &:hover
            color $color-yellow
            text-decoration underline
