.top-bar
  padding 0
  background $color-corall

  &-title
      margin 0
      color $color-white
      mix-transition()

      &:hover
          color $color-yellow

  .menu
      background none

      a
        font 700 14px $font-montserrat
        text-transform uppercase
        color $color-white
        mix-transition()

        @media $phone
            padding 8px

        &:hover
            color $color-yellow
            text-decoration underline
