$color-white = #fff
$color-black = #000
$color-light-blue = #95e1d3
$color-black-text = #333
$color-gray-text = #999
$color-red = #f38181
$color-gradient-yellow = rgba(252, 227, 138, 0.9)
$color-gradient-red = rgba(243, 129, 129, 0.9)

$font-arial = arial, sans-serif
$font-montserrat = montserrat, $font-arial
$font-roboto = roboto, $font-arial
$font-kaushanscript = "kaushan script", $font-arial

mix-transition()
    transition ease 0.5s all
