$color-white = #fff
$color-black = #000
$color-turquoise = #95e1d3
$color-turquoise-border = #b5eae0
$color-black-text = #333
$color-gray-text = #999
$color-light-gray-text = #777
$color-red = #f38181
$color-gradient-yellow = rgba(252, 227, 138, 0.9)
$color-gradient-red = rgba(243, 129, 129, 0.9)
$color-design-bg = rgba(255,255,255, 0.85)
$color-quotes-bg = #f8f8f8
$color-arrows = #ccc
$color-arrows-hover = #949494
$color-social = #fce38a
$color-social-hover = #f38181
$color-blog-info = #e5e5e5
$color-footer-dscr = #b4b4b4

$font-arial = arial, sans-serif
$font-montserrat = montserrat, $font-arial
$font-roboto = roboto, $font-arial
$font-kaushanscript = "kaushan script", $font-arial

mix-transition()
    transition ease 0.5s all

mix-inline-block()
    display inline-block
    vertical-align top

/* Small only */
$phone = "screen and (max-width 39.9375em)"

/* Medium and up */
$tablet = "screen and (min-width 40em)"

/* Medium only */
$tablet_only = "screen and (min-width 40em) and (max-width 63.9375em)"

/* Large and up */
$desktop = "screen and (min-width 64em)"

/* Large only */
$desktop_only = "screen and (min-width 64em) and (max-width 74.9375em)"
