.video
    position absolute
    top 50%
    left 50%
    width auto
    height auto
    min-width 100%
    min-height 100%
    transform translateX(-50%) translateY(-50%)

    @media $phone
        display none
