.work

    &-img
        display block
        position relative

        img
            width 100%

        &_hover
            opacity 0
            background linear-gradient(to bottom, $color-gradient-red, $color-gradient-yellow)
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            cursor: pointer;
            color $color-white
            mix-transition()

            .icon
                font-size 28px

        &:hover

            .work-img_hover
                opacity 1

    &-title
        font 400 14px $font-montserrat
        margin 15px 0 0 0
        text-transform uppercase

    &-dscr
          font 300 15px $font-roboto
          font-style italic
          margin 10px 0 0 0
